<head>
    <!-- Styles -->
    <link rel="stylesheet" href="{{'/assets/css/main.css' | absolute_url}}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Parisienne&family=Raleway:wght@300;700&display=swap" rel="stylesheet">
    <!-- Meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">

    <!-- Favicon -->
    <link rel="shortcut icon"  href="{{'/assets/images/favicon.ico' | absolute_url}}">

    <title>{{site.title}}</title>
</head>