@media print {
    @page {
        size: A4;
    }

    .container {

        --bg-color: #f1f1f1;
        --bg-color-cv: #ffffff;
        --fg-color: #00629b;
        --fg-color-dark: #023b5b;
        --fg-color-body: #5e6369;
        --fg-color-title-sm: #688293;

        margin: 0;
        padding: 0;
        box-shadow: none;
        background-color: #ffffff;
        width: 1000px;

        .container-block {
            padding: 0;
        }

        .toggle {
            input, label {
                display: none;
            }
        }
    }
}