.experiance {
    .title {
        @include header;
    }

    .experience-item {
        margin-bottom: 1rem;

        .role {
            @include sub-header;
        }

        .company {
            @include body-text;
            font-weight: bold;
            color: var(--fg-color-title-sm);

            .time {
                float: right;
                font-weight: 100;
            }
        }

        .details {
            @include body-text;

            .project {
                font-weight: bold;
                color: var(--fg-color-title-sm);
            }

            .italic {
                font-style: italic
            }
        }

        .technologies {
            @include body-text;
        }
    }
}
