.header {
    width: 90%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap-reverse;
    /*justify-content: space-between;*/
    align-items: center;

    .profile {
        display: inline-block;
        min-width: 100px;
        min-height: 100px;
        border: 1px solid var(--fg-color-dark);
        border-radius: 50%;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
    }

    .title-toggle {
        display: flex;
        flex-grow: 1;
        justify-content: space-between;
    }

    .title {
        font-family: 'Raleway', sans-serif;
        margin-left: 2rem;
        white-space: nowrap;
        color: var(--fg-color-dark);
        /*font-weight: bolder;*/
        font-weight: 400;
        font-size: 3rem;
        /*text-transform: uppercase;*/
    }

    .toggle {
        /*display: inline-block;*/
        position: absolute;
        top: 0;
        right: 0;
    }

    input[type="checkbox"] {
        width: 0;
        height: 0;
        display: none;
    }

    label {
        display: inline-block;
        cursor: pointer;
        color: var(--fg-color-dark);
        transform: scale(0.75);
    }
}
