.skills {
    display: flex;
    flex-direction: column;


    .skill-group {
        width: 150px;
        margin-bottom: 20px;

        .title {
            @include sub-header;
        }

        .skill {
            @include body-text;
        }
    }
}
